html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}


.legend {
	line-height: 20px;
	color: rgb(255, 255, 255);
}
.legend i {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}




#input-pane {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 400;
    padding: 1em;
    background: rgba(0, 0, 0, 0.708);
    color:rgb(255, 255, 255);
    text-align: left;
    max-width: 310px;
}

.info {
	padding: 1em;
	/* font: 14px/16px Arial, Helvetica, sans-serif; */
	background: rgba(0, 0, 0, 0.808);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  max-width: 250px;
  max-height: 500px;
}